:root {
  --main: #C49B6A;
}

@font-face {
  font-family: urw;
  src: url('/alfont_com_URWGeometricArabic-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html * {
  font-family: urw;
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
  height: 130px;
  background-color: var(--main);
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.label {
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
  width: 30%;
  text-align: center;
  font-weight: 900;
  background-color: var(--main);
}

.text {
  font-size: 20px;
  font-weight: 900;
  margin: 15px;
  text-align: start;
}

.input {
  width: 100%;
  font-size: 30px;
  padding: 30px;
  margin: auto;
  margin: 30px 20px;
  border-radius: 40px;
  height: 70px;
}

.res {
  width: 100%;
  height: 400px;
  font-size: 30px;
  border: 1px solid gray;
  padding: 30px;
  margin: auto;
  margin: 30px 20px;
  border-radius: 40px;
}

.button {
  font-size: 40px;
  border-radius: 30px;
  padding: 10px;
  display: block;
  width: 50%;
  border: none;
  margin: 100px auto;
  text-align: center;
  font-weight: 900;
  color: black;
  background-color: var(--main);
}

.button:hover {
  cursor: pointer;
  color: var(--main);
  background-color: black;
}

.result {
  font-size: 40px;
  border-radius: 30px;
  padding: 10px;
  width: 80%;
  border: 1px solid black;
  margin: 100px auto;
  text-align: center;
  font-weight: 900;
  color: var(--main);
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 2px 0 2px 0;
  background: #ddd;
  border-radius: 999px;
  position: relative;
}

.checkbox-container {
  align-items: center;
  padding: 10px 40px;
  column-gap: 20%;
  flex-flow: wrap;
  margin: 30px 20px;
  width: 100%;
  border-radius: 90px;
  border: 1px solid black;
  height: 150px;
  display: flex;
}

.res-container {
  display: flex;
  align-items: center;
  margin: 30px 20px;
}