<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Logo.jpg') }}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Elokaby</title>
    <style>
        @font-face {
            font-family: urw;
            src: url("static/fonts/alfont_com_URWGeometricArabic-Regular.ttf");
        }
    </style>
</head>

<body>

    <nav style='height: 170px; width: 100%'>
        <img src="{{ url_for('static', filename='Logo.jpg') }}" alt="logo" class="logo" />
    </nav>
    <div class='title'>
        <h1 style=' font-size: 50px; margin: auto; font-weight: 900'>قيمي جمالك</h1>
    </div>

    <h3 style='font-size: 30px; text-align: center; margin: 20px'>في صيدليات العقبي هنساعدك توصلي لأعلى درجة ممكنة من
        الجمال
    </h3>
    <form class="container" action="/submit" method="post" target="_blank">
        {% for question, choices in questions.items() %}
            <div class='label'>
                {{ question }}
            </div>

            {% if choices %}
            <div class="checkbox-container">
                {% if (question=="مشكلة الوزن" ) %}
                    {% for choice in choices %}
                        <div>
                            <input class="checkbox" type="radio" name="{{ question }}" value="{{ choice }}" />
                            <label class="text">{{choice}}</label>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for choice in choices %}
                        <div>
                            <input class="checkbox" type="checkbox" name="{{ question }}" value="{{ choice }}" />
                            <label class="text">{{choice}}</label>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
            {% else %}
                <input type="text" class='input' name="{{ question }}" />
            {% endif %}
        {% endfor %}

        <!--
        <div class='label'>
            الاسم
        </div>
        <input type="text" class='input' />
        <div class='label'>
            السن
        </div>
        <input type="text" class='input' />
        <div class='label'>
            معدل الوزن مقارنة بالطول
        </div>
        <input type="text" class='input' />
        <div class='label'>
            معدل الحرق
        </div>
        <input type="text" class='input' />
        <div class='label'>
            هل يوجد أمراض
        </div>
        <div class="checkbox-container">
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
        </div>


        <div class='label'>
            مشكلة الوجه
        </div>
        <div class="checkbox-container">
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
        </div>
        <div class='label'>
            هالات
        </div>
        <div class="checkbox-container">
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
        </div>
        <div class='label'>
            مشكلة المناطق الحساسة
        </div>
        <div class="checkbox-container">
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
        </div>
        <div class='label'>
            مشكلة المناطق الغير حساسة
        </div>
        <div class="checkbox-container">
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
        </div>
        <div class='label'>
            مشاكل أخري
        </div>
        <div class="checkbox-container">
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
            <div>
                <input class="checkbox" type="checkbox" />
                <label class="text">مشكلة</label>
            </div>
        </div>
    -->

        <button class='button' type="submit" value="submit">
            SUBMIT
        </button>

    </form>
    <footer>
        <div style=' height: 150px; width: 100% ; background-color: #F0EEED'>
        </div>
        <div style=' height: 100px; width: 100% ; background-color: black'>
        </div>
    </footer>
</body>

</html>